        @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
        body {
            background: url("https://bebs.org/wp-content/uploads/2019/05/form-background-1024x683.jpg") center center no-repeat;
            background-size: cover;
            width: 100vw;
            height: 100vh;
            align-items: center;
            justify-items: center;
            font-size: 12pt;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
            font-family: 'Roboto Condensed', sans-serif;
            background-attachment: fixed;
        }
        
        .reg-form {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            background: #f8f4e5;
            padding: 50px 50px;
            border-top: 10px solid #17a2b8;
            width: 350px;
            height: 750px;
            position: center;
            margin-bottom: 20px;
        }
        
        label,
        input {
            display: block;
            width: 250px;
            line-height: 24pt;
            font-size: 12pt;
        }
        
        label {
            font-size: 14pt;
        }
        
        .main-heading {
            color: white;
            display: flex;
            margin-right: auto;
            margin-left: auto;
        }
        
        button {
            display: block;
            float: left;
            padding: 0px 20px;
            height: 40px;
            width: 150px;
            font-size: 12pt;
            background: #17a2b8;
            border: none;
            color: white;
            margin-bottom: 20px;
            font-family: 'Roboto Condensed', sans-serif;
        }
        
        button a {
            color: white;
            text-decoration: none;
        }
        
        select {
            font-size: 14pt;
            display: block;
            width: 100%;
            line-height: 24pt;
        }
        
        option {
            font-size: 14pt;
            display: block;
            width: 100%;
            line-height: 24pt;
        }
        
        button:hover {
            background: inherit;
            color: #17a2b8;
            border-bottom: 2px solid #17a2b8;
        }
        
        a:hover {
            color: #17a2b8;
        }
        
        .dropdown {
            position: relative;
            display: inline-block;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .dropdown-content a:hover {
            background-color: #ddd;
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        
        .modalbackground {
            margin: 0;
            padding: 0;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 100;
            opacity: 0;
            pointer-events: none;
        }
        
        .modalbackground:target {
            opacity: 1;
            pointer-events: auto;
        }
        
        .modalwindow {
            width: 100%;
            max-width: 300px;
            margin: 10% auto;
            padding: 2%;
            background: #fff;
            border-radius: 3px;
        }
        
        .modalwindow h2 {
            text-align: center;
        }
        
        .modalwindow p {
            padding: 0;
            margin: 4% 0 8% 0;
        }
        
        .modalwindow a {
            display: block;
            color: #fff;
            background: #17a2b8;
            margin: 5px auto 5px;
            width: 150px;
            height: 30px;
            text-align: center;
        }
        
        .errorBox {
            border: 4px solid#17a2b8;
            width: 400px;
            height: 100px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            display: block;
            color: white;
            font-size: large;
        }
        
        .errorMsg {
            color: white;
            background-color: #ff3333;
            margin: 10px 0;
            padding: 10px;
            border-radius: 3px 3px 3px 3px;
            width: 460px;
            text-align: left;
        }
        
        .succesMsg {
            color: white;
            background-color: #00b33c;
            margin: 10px 0;
            padding: 10px;
            border-radius: 3px 3px 3px 3px;
            width: 460px;
            text-align: left;
        }